<!doctype html>
<html lang="en"  xmlns:th="https://www.thymeleaf.com">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<title>register page</title>
</head>


<body>
<div class="container">	
<h1>Register here</h1>

<font style= "color: red;">
<p th:text="${emsg}"></p>
</font>
<font style= "color: green;">
<p th:text="${smsg}"></p>
</font>

<form  th:action="@{/register}" th:object="${counsellor}" method="post" >

<table>
<tr>
<td>Name:</td>
<td><input type="text" th:field="*{name}" class="form-control" required/></td>
</tr>

<tr>
<td>Email:</td>
<td><input type="email" th:field="*{email}" class="form-control" required/></td>
</tr>


<tr>
<td>Password:</td>
<td><input type="password" th:field="*{pwd}" class="form-control" required/></td>
</tr>

<tr>
<td>Phone number:</td>
<td><input type="number" th:field="*{phno}" class="form-control" required/></td>
</tr>

<tr>
<td></td>
<td><input type="submit" value="register" class="btn btn-primary"/></td>
</tr>

</table>

</form>

<a href="/">click here to login</a>

</div>






	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
	</script>
	

</body>
</html>